//Load base config
includeConfig 'config/base.config'

//Load params
includeConfig 'config/params.config'

//Load process config
includeConfig 'config/modules.config'

profiles {
    standard {
        docker.runOptions='-u $(id -u):$(id -g) --platform=linux/x86_64'
        docker.enabled = true
        process {
            executor = 'local'
            withName:'CLEMONTTYPING' {
                container = 'happykhan/clermontyping:latest'
            }
            withName:'EZCLERMONT' {
                container = 'happykhan/ezclermont:latest'
            }
        }   
    }

    bmrc {
        singularity {
            enabled = true
            runOptions = '--bind /well --bind /gpfs3 --no-home'
        }
        process {
            cpus = 1
            memory = '2G'
            executor = 'slurm'
            queue = 'short,long'
            clusterOptions='-A aanensen.prj'
            penv = 'shmem'
            errorStrategy = { task.attempt <= 5 ? "retry" : "finish" }
            maxRetries = 5

            withName:'CLEMONTTYPING' {
                container = '/well/aanensen/shared/singularity/clermontyping_latest.sif'
            }
            withName:'EZCLERMONT' {
                container = '/well/aanensen/shared/singularity/ezclermont_latest.sif'
            }            
        }
        tower {
            enabled = false
        }
    }
}