//Load base config
includeConfig 'config/base.config'

//Load params
includeConfig 'config/params.config'

//Load process config
includeConfig 'config/modules.config'

profiles {
    standard {
        docker.runOptions='-u $(id -u):$(id -g)'
        docker.enabled = true
        process {
            executor = 'local'
            withName:'CLEMONTTYPING' {
                container = 'happykhan/clermontyping:latest'
            }
            withName:'EZCLERMONT' {
                container = 'happykhan/ezclermont:latest'
            }
        }   
    }

    bmrc {
        process.container = '/well/aanensen/shared/singularity/ghru-assembly-2.1.2.sif'
        singularity {
        enabled = true
        runOptions = '--bind /well --bind /gpfs3 --no-home'
        }
        process {
            cpus = 1
            memory = '2G'
            executor = 'slurm'
            queue = 'short,long'
            clusterOptions='-A aanensen.prj'
            penv = 'shmem'
            errorStrategy = { task.attempt <= 5 ? "retry" : "finish" }
            maxRetries = 5

            withName:'CLEMONTTYPING1' {
                container = '/well/aanensen/shared/singularity/ghru-read-polishing-1.0.sif'
            }
        }
        tower {
        enabled = true
        }
    }
}